<h1>Products</h1>
<div class="card">
    <div class="card-head">Self forgiveness - product 1</div>
    <div class="card-body">
        Self forgiveness is one of the most unselfish things you can do. Everyone around benefits as you become less demanding, more giving and more forgiving. – Four Steps to Forgiveness, William Fergus Martin
    </div>
</div><br>

<div class="card">
    <div class="card-head">Self forgiveness - product 2</div>
    <div class="card-body">
        Self forgiveness is one of the most unselfish things you can do. Everyone around benefits as you become less demanding, more giving and more forgiving. – Four Steps to Forgiveness, William Fergus Martin
    </div>
</div>