.input-box{
    position: relative;

  }
  
  .input-box i {
    position: absolute;
    right: 13px;
    top:8px;
    color:#ced4da;
  
  }
  
  .form-control{
  
    height: 30px;
    background-color:#ffff;
  }